body {
    font-family: 'oswald', sans-serif, sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #71cdf5;
    font-size: 2.5rem;
    font-weight: 500;
}
header p {
    margin: 0;
    color: #be71f5;
    font-size: 1.22rem;
    letter-spacing: 2px;
}

/* navigation stuff here */
nav {
    background-color: #be71f5;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .95rem 1rem .83rem 1rem;
    font-size: .8rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

nav .active a {
    background-color: #71cdf5;
    color: #ffffff;
}
nav a:hover {
    background-color: #43a0b6;
}


/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #71cdf5;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #7179f5;
    margin-bottom: .2rem;
}
main p {
    color: #be71f5;
    margin: 0 0 .8rem 0;
    line-height: 150%
}
main a {
    color: #71cdf5;
}

.wrapimage {
    width: 50%;
    margin: 0;
    float: right;
    margin-left: 2vw;
}
.wrapimage img {
    width: 100%;
    height: auto;
}
.wrapimage figcaption {
    text-align: center;
    font-size: .8rem;
}

.card-select {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
}

.delivery-option {
    cursor: pointer;
    flex: 1 1 180px;
    max-width: 200px;
    text-align: center;
}

.delivery-option input[type="radio"] {
    display: none;
}

.card {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.card h4 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    color: #222;
}

.card p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.delivery-option input[type="radio"]:checked + .card {
    border-color: #0077cc;
    background-color: #e0f3ff;
    box-shadow: 0 0 10px rgba(0, 119, 204, 0.3);
}


/* footer stuff here */
footer {
    border-top: solid #ccc 2px;
    text-align: center;
    color: #7179f5;
    font-size: .7rem;
    padding: 1rem 0;
    clear: both;
}
footer a {
    color: #7179f5;
}